@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --menu-background: #f2f5ff;
  --footer-background: #51508b;
  --hover: #d5d4ff;
  --accent: #8197e5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--background);
  color: var(--foreground);
  padding-top: env(safe-area-inset-top);
  min-height: 100vh;
  /* This ensures the content starts below the status bar */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}


.privacy-screen {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  z-index: 2;
}