@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */


:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --branding: #444251;
  --secondary: #cbcbcf;
  --accent: #8d89a3;

  --font-size: 16px;
  --font-size-scale: 1.5; 
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  /* --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono); */
  --font-montserrat: var(--font-montserrat);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

body {
  font-family: var(--font-montserrat), sans-serif;
  letter-spacing: 0.5px;
  background-color: var(--background);
  color: var(--foreground);
  padding-top: env(safe-area-inset-top);
  min-height: 100vh;
  /* This ensures the content starts below the status bar */
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  width: 100%;
  height: 100%;
  margin: 0 20px;
  padding-bottom: 140px;
  /* Header height */
  padding-top: 64px; 
}

.blend {
  mix-blend-mode: difference;
}

.custom-text {
  font-size: 9.4vw;
  letter-spacing: -3px;
}

.custom-transition {
  transition: all 300ms ease-in-out;
}