@import "tailwindcss";
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

:root {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --branding: #444251;
  --secondary: #cbcbcf;
  --accent: #8d89a3;
}


/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ffffff;
  }
} */

/* Style the scrollbar */
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background: var(--background);
}
::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}

html {
  background-color: var(--background);
}

body {
  background-color: var(--background);
  overflow-x: hidden;
  min-height: -webkit-fill-available;
  padding-top: env(safe-area-inset-top);
  min-height: 100vh;
  user-select: none;
}

section {
  min-height: 100vh;
  height: 100%;
  margin: 0 20px;
  padding-bottom: 100px;
}


.custom-text {
  font-size: 8.1vw;
  letter-spacing: -3px;
  width: 100%;
  text-align: justify;
  text-justify: inter-character;
  word-spacing: 0;
  white-space: nowrap;
}

.custom-transition {
  transition: all 300ms ease-in-out;
}


/* Add to your globals.css */
.image-loading {
  overflow: hidden;
}

.image-loading::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.1), transparent);
  animation: loading 1.5s infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}


@media screen and (min-width: 1024px) {
  section {
    padding-bottom: 140px;
  }
}
